<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/main" class="navbar-link active">🏠</a></li>
        <li class="navbar-item"><a href="/search" class="navbar-link">🔍 Search</a></li>
        <li class="navbar-item"><a href="/profile" class="navbar-link">👤 Profile</a></li>
        <li class="navbar-item"><a href="/message" class="navbar-link">📬 Message</a></li>
    </ul>
    <button class="logout-button"><a href="/member/logout">Logout</a></button>
</nav>
<div class="post-section">
    <h1>How to Use This Website</h1> <br>
    <p>Welcome to our platform! Here's a guide on how to make the most out of your experience:</p><br>
    <div class="usage-steps">
        <div class="usage-step">
            <div class="step-icon">🔍</div>
            <div class="step-content">
                <h2>Search</h2>
                <p>Use the Search feature to find your ideal dormitory roommates based on various preferences, such as lifestyle and sleep habits.</p></div>
        </div>
        <div class="usage-step">
            <div class="step-icon">👤</div>
            <div class="step-content">
                <h2>Profile</h2>
                <p>View and manage your Profile, where you can set your personal preferences and details. Don't forget to keep your information up-to-date!</p>
            </div>
        </div>
        <div class="usage-step">
            <div class="step-icon">📬</div>
            <div class="step-content">
                <h2>Message</h2>
                <p>Connect with potential roommates through the Message feature. Start conversations, exchange information, and make arrangements easily.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>